﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</head>
<body class="body-background">

    <div class="body-content">
        @RenderBody()
    </div>


    <footer class="footer hidden-xs">
        <div class="loginFooter">
            <div class="loginFooterFormDiv">
                <span class="footerText">© 2018 Credit Line</span>
            </div>
            <div class="loginFooterFormDiv">
                <div class="row rowNoMargin">
                    <div class="col-xs-12 colxsnopading">
                        <span class="footerTitle">Телефон техподдержки КО</span>
                    </div>
                </div>
                <div class="row rowNoMargin">
                    <div class="col-xs-12 colxsnopading">
                        <span class="footerText">+7 (000) 000 00 00</span>
                    </div>
                </div>
            </div>
            <div class="loginFooterFormDiv">
                <div class="row rowNoMargin">
                    <div class="col-xs-12 colxsnopading">
                        <span class="footerTitle">Телефон Банка</span>
                    </div>
                </div>
                <div class="row rowNoMargin">
                    <div class="col-xs-12 colxsnopading">
                        <span class="footerText">+7 (000) 000 00 00</span>
                    </div>
                </div>
            </div>
            <div class="loginFooterFormDiv">
                <div class="row rowNoMargin">
                    <div class="col-xs-12 colxsnopading">
                        <span class="footerTitle">Email для связи</span>
                    </div>
                </div>
                <div class="row rowNoMargin">
                    <div class="col-xs-12 colxsnopading">
                        <span class="footerText">contact@email.com</span>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>


