﻿@media only screen and (min-width: 1300px) {
    .loginFooter, .loginFormFooter, .loginPanel {
        width: 45%;
    }
    .loginFooterFormDiv {
        width: 25%;
    }
}

@media only screen and (max-width: 1036px) {
    .inputDiv {
        width:100%;
    }
}

@media only screen and (max-width: 910px) {
    .editBtnSave {
        width: 100%;
        text-align: center;
        margin-right: 0;
        float: none;
    }

    .editBtnCsl {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 10px;
    }
}
