﻿@using VC_client.Models;
@model  LkEditModel
@{
    Layout = null;
}

<div style="display:inline-block">
    <div class="unchangeableBlock">
        <div class="row">
            <div class="col-xs-12">
                <span class="changeOnRequest">Изменение по запросу</span>
            </div>
        </div>
        <div class="row" style="height:100%; margin:0px; min-height:350px; max-height:400px;">
            <div class="col-xs-12 changeOnRequestDiv" style="height:100%; padding-top:15px">
                <dl>
                    <dd>ФИО</dd>
                    <dt>@Html.Raw(Model.Fio)</dt>
                    <dd>Телефон</dd>
                    <dt>@Html.Raw(Model.PhoneNumber)</dt>
                    <dd>Адрес</dd>
                    <dt>@Html.Raw(@Model.RegionRegistration)</dt>
                    <dd>Серия и номер паспорта</dd>
                    <dt>@Html.Raw(@Model.SerialNumber)</dt>
                    <dd>Кем и когда выдан</dd>
                    <dt>@Html.Raw(@Model.DocumentIssued)</dt>
                </dl>
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-12" style="text-align:center">
                        <button class="btn btn-success btn-success-xs" id="changePersonal" style="word-wrap:break-word; max-width:190px; height:auto; white-space: normal;">Запросить изменение персональных данных</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="editBlock">
        <div class="row" style="margin-bottom:10px">
            <div class="col-xs-4" style="padding-right:10px; text-align: right; ">
                <img src="@Model.PhotoUrl" alt="..." class="img-circle" height="60" />
            </div>
            <div class="col-xs-8" style="padding-top:15px;padding-left: 0px;text-align: left;">
                <button class="btn btn-success btn-success-xs" style="word-wrap:break-word; max-width:210px; height:auto; white-space: normal;" data-toggle="modal" data-target="#loadPhotoModal">ЗАГРУЗИТЬ НОВОЕ ФОТО</button>
            </div>
        </div>
        <form id="userProfile">
            <input type="hidden" name="Id" id="userProfileId" value="@Model.Id">
            <div class="formDiv">
                <div class="labelDiv">
                    <label for="Email" class="control-label control-label-lk">Email</label>
                </div>
                <div class="inputDiv">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="@Model.Email">
                </div>
            </div>
            <div class="formDiv">
                <div class="labelDiv">
                    <label for="Workplace" class="control-label control-label-lk">Место работы</label>
                </div>
                <div class="inputDiv">
                    <input type="text" class="form-control" id="Workplace" name="Workplace" placeholder="Место работы" value="@Model.Workplace">
                </div>
            </div>
            <div class="formDiv">
                <div class="labelDiv">
                    <label for="Position" class="control-label control-label-lk">Должность</label>
                </div>
                <div class="inputDiv">
                    <input type="text" class="form-control" id="Position" name="Position" placeholder="Должность" value="@Model.Position">
                </div>
            </div>
            <div class="formDiv">
                <div class="labelDiv">
                    <label for="ExtPhone" class="control-label control-label-lk">Доп. телефон</label>
                </div>
                <div class="inputDiv">
                    <input type="text" class="form-control" id="ExtPhone" name="ExtPhone" placeholder="7 (000) 000-00-00" value="@Model.ExtPhone">
                </div>
            </div>
            <div class="formDiv">
                <div class="labelDiv">
                    <label for="Vkontakte" class="control-label control-label-lk">Вконтакте</label>
                </div>
                <div class="inputDiv">
                    <input type="text" class="form-control" id="Vkontakte" name="Vkontakte" placeholder="Вконтакте" value="@Model.Vkontakte">
                </div>
            </div>
            <div class="formDiv">
                <div class="labelDiv">
                    <label for="Facebook" class="control-label control-label-lk">Facebook</label>
                </div>
                <div class="inputDiv">
                    <input type="text" class="form-control" id="Facebook" name="Facebook" placeholder="Facebook" value="@Model.Facebook">
                </div>
            </div>
            <div class="formDiv">
                <button class="btn btn-info btn-info-xs" style="min-width: 190px" id="changePasswordModal">Изменить пароль</button>
            </div>
        </form>
    </div>

</div>


<div class="formDiv">
    <div class="editBtnSave">
        <button class="btn btn-success" style="min-width:221px; max-width:300px; height:auto; " id="saveProfile">сохранить изменения</button>
    </div>
    <div class="editBtnCsl">
        <button class="btn btn-warning" style="min-width:221px; max-width:300px; height:auto; " id="cslProfile">отменить и выйти</button>
    </div>
</div>

